body{
    background: url(/static/images/login.jpg);
    background-size: 500px;
    color: rgb(174, 73, 224);
    height: 35em;
    width: 100em;
    background-position:left ;
    background-repeat: no-repeat;
  } 
body{
  image-rendering: url(/static/images/login.jpg);
}

 
  .form-control{
    background-color:transparent;
  }
  
  @media (max-width: 550px){
  
    reg{
          margin-left: auto;
          margin-right: auto;
      }
  
    footer .container-fluid{
          padding: 0 2rem;
          justify-content: center;
      }
    #wrapper{
      width: fit-content;
    }
  
    .nav ul{
          justify-content: center;
      }
  
    .-nav ul li{
          margin-bottom: 1rem;
      }
  }  