body{
    background: linear-gradient(rgba(176, 129, 196, 0.4), rgba(126, 151, 219, 0.4)), url(/static/images/bg2.jpg);
    background-size: cover;
    color: whitesmoke;
    height: 40em;
  }
  
  .form-control{
    background-color: transparent;
  }
  
  @media (max-width: 550px){
  
    #reg{
          margin-left: auto;
          margin-right: auto;
      }
  
    footer .container-fluid{
          padding: 0 2rem;
          justify-content: center;
      }
    #wrapper{
      width: fit-content;
    }
  
    .nav ul{
          justify-content: center;
      }
  
    .-nav ul li{
          margin-bottom: 1rem;
      }
  }