@import url('http://fonts.cdnfonts.com/css/billabong');
body {
  background: #92a35d;
}

body{
  background-image:url('/static/images/background.jpeg'); 
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
  background-position-y: top;
  background-position-x: center;

}
.navigation {
  background-color: #822065;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(21, 4, 4, 0.098);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  box-sizing: border-box;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out; 
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, .15);
}

.shrink {
  height: 50px;
}

.navigation .logo a {
  position: relative;
  color: #000000;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.navigation-search-container {
  position: relative;
}

.navigation-search-container input {
  background-color: #fafafa;
  padding: 3px 20px;
  padding-left: 25px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 3px;
  font-size: 14px;
}

.navigation-search-container .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 320px) and (max-width: 650px) {
  .navigation {
    padding: 0 20px;
    justify-content: space-between;
  }
  .navigation-icons {
    display: flex;
  }
}

.navigation-icons {
  display: flex;
}

.navigation-search-container input:focus {
  outline: none;
}

.navigation-search-container input::placeholder {
  text-align: center;
}

.navigation-icons a {
  text-decoration: none;
}

.navigation-link i {
  margin-left: 30px;
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.notification-bubble-wrapper {
  position: relative;
  top: -30px;
  left: 17px;
}

.notification-bubble {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  background: #9b3255;
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 5px 5px 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  display: none;
}

.profile_image{
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

html{
  overflow-x: hidden;
}

#brand{
  font-family: 'Courgette', cursive;
}


#status{
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

#status-pic{
  margin-top: 1em;
  margin-bottom: 1em;
}

#mini-profile{
  position: fixed;
  margin-bottom: 2em;
}

.list-unstyled{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

#user-posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  grid-gap: 1em;
  grid-auto-rows: auto;
}


 @media screen and (max-width: 400px){
    body{
      width: 100%;
    }

  }

  @media (max-width: 550px){
  .brand{
    display: none;
  }

    body{
      width: 100%;
      overflow-x:inherit;
    }
}