{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%if title%}
  <title>{{title}}</title>
  {%endif%}
  {% block styles %}
  {% bootstrap_css %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  {% endblock %}
</head>

<body>
  {% include 'navbar.html' %}
  <div id="content">
    <div class="register">
      <div class="card shadow p-3 mb-5 rounded card" style="width: 50em; margin-left: auto;margin-right: auto; background-color: transparent;">
        <div class="cardbody" style="background-color: transparent;">
          <div class="form-data form-data-prof">
            <form action="{%url 'create_profile'%}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <h2 class="intro text-center">Create your Instagram-app profile</h2>
              {% bootstrap_form form%}
              <button class="form-btn btn-primary" type="submit">Create Profile</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid text-center" style="color: #af01db; margin-bottom: 0% !important;">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <ul class="list-unstyled">
            <li>
              About
            </li>
            <li>
              Blog
            </li>
            <li>
              Jobs
            </li>
            <li>
              Help
            </li>
            <li>
              Api
            </li>
            <li>
              Privacy
            </li>
            <li>
              Top Accounts
            </li>
            <li>
              Hashtags
            </li>
            <li>
              Locations
            </li>
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 ma" style="color: #020e43; margin-bottom: 0% !important; ">© 2022
      Copyright: Instagram-app from Facebook<br>
    </div>
  </footer>
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>
</html>