{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
<di
v class="main row">
  <div class="col-xs-12 col-md-1"></div>
  <div class="col-xs-12 col-md-6">
    <div class="row" id="wrapper">
      <div class="col-md-12">
        <div class="card" id="status">
          {% for profiles in follow_suggestions %}
          <a href="/profile/{{profiles.id}}">
            <img class="rounded-circle img-thumbnail" id="status-pic" style="width: 4em;height: 4em; margin: 1em;"
              src="{{profiles.profile_image.url}}"></a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if timeline_images %}
    {% for image in timeline_images %}
    <div class="card" style="margin-bottom: 5rem;">
      <div class="card-header d-flex">
        <div class="prof-image">
          <a href="/profile/{{image.profile.id}}">
            <img class="rounded-circle img-thumbnail" style="width: 3em;height: 3em;"
              src="{{image.profile.profile_image.url}}" alt="user">
          </a>
        </div>
        <div class="profile" style="margin-left: 1em;">
          <a href="/profile/{{image.profile.id}}" class="profile_tag" style="color: rgb(22, 1, 1);"><b>{{image.profile}}</b></a>
          <p><strong><i>#{{image.name}}</i></strong></p>
        </div>
      </div><a href="/single/{{image.id}}">
      <img src="{{image.image.url}}" class="card-img-top" alt="upload" style="height: 40rem;object-fit: cover;"></a>
      <div class="card-body">
        <form action="{% url 'LikePost' image_id=image.id %}">
          {% csrf_token %}
          <button type="submit" name="image_id" value={{image.id}}
            style="border: 0px; background-color: transparent; margin-bottom: 1rem;"><i
              class="far fa-heart"></i></button>
        </form>
        <div class="liked-count">{{image.likes.count}} like(s)</div>
        <div class="post">
          <strong><b>{{image.profile}}</b></strong>
          <span class="post-link">{{image.caption}}</span>
          <div class="text-muted" style="margin-top: 1%;">Comment(s)</div>
          {% for comment in image_comments %}
          {% if comment.image.id == image.id %}
          <div>
            <em style="font-size: 1.2rem;"><b>{{comment.user}}</b></em>
            <span class="post-link"><em style="font-size: 1.2rem;">{{comment.comment}}</em></span>
          </div>
          {% endif %}
          {% endfor %}
          <div class="text-muted">{{image.pub_date | timesince }} ago</div>
        </div>
      </div>
      <div class="card-footer" style="padding: 0;">
        <form role="add_comment" , action="{% url 'AddComment' image_id=image.id %}">
          {% csrf_token%}
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Add a comment..." name="comments"
              style="font-size: 1.2rem; border: 0;">
            <div class="input-group-btn">
              <button class="btn" type="submit" style="font-size: 1.2rem;"> Post</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="nothing text-center">
      <h2>Create Posts and follow friends</h2>
    </div>
    {% endif %}
  </div>
  <div class="col-xs-12 col-md-1"></div>
  <div class="col-xs-12 col-md-3">
    {% for user in all_profiles %}
    {% if user == profile %}
    <div class="card" style="border: transparent; background-color: transparent;">
      <div class="card-body">
        <div class="row d-flex">
          <div class="prof-img">
            <a href="/profile/{{profile.id}}">
            <img class="rounded-circle img-thumbnail" style="position: fixed; width: 3em;height: 3em;"
              src="{{profile.profile_image.url}}" alt="user"></a>
          </div>
          <div class="u-name" style="position: fixed; margin-left: 4em; margin-top: auto; margin-bottom: auto;">
            <h5 style="text-transform: capitalize;"><strong>{{profile.user.username}}</strong></h5>
            <h6 class="text-muted">{{profile.followers}} followers | {{profile.following}} followed</h6>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <br><br>
    <div style="position: fixed; border: transparent;">
      <div style="font-size: 1.2rem; border: transparent;">
        <h6 style="color: #2d3834;"><strong>Follow Suggestions For You:</strong></h6>
      </div>
      <ul class="list-group list-group-flush" style="background-color: transparent;">
        {% for users in follow_suggestions %}
        {% if users == profile%}
        {% elif users != profile %}
        <div class="list-group-item d-flex" style="background-color: transparent;">
          <div class="profile-image" style="background-color: transparent;">
            <a href="/profile/{{users.id}}"><img src="{{users.profile_image.url}}" alt="avatar" class="rounded-circle"
                style="height: 3em;width: 3em;"></a>
          </div>
          <div class="profile">
            <a href="/profile/{{users.id}}" class="profile_tag"
              style="text-decoration: none; color: rgb(24, 1, 1); margin-left: 1em; text-transform: capitalize; margin-top: auto;margin-bottom: auto;"><b>{{users.user.username}}</b></a>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-1"></div>
</div>
<footer>
  <div class="container-fluid text-center" style="color: #bb05ac; margin-bottom: 0% !important;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ul class="list-unstyled">

          <li>
            About
          </li>
          <li>
            Blog
          </li>
          <li>
            Jobs
          </li>
          <li>
            Help
          </li>
          <li>
            Api
          </li>
          <li>
            Privacy
          </li>
          <li>
            Top Accounts
          </li>
          <li>
            Hashtags
          </li>
          <li>
            Locations
          </li>
        </ul>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 ma" style="color: #2d04b6; margin-bottom: 0% !important; ">© 2022
    Copyright: Instagram-app from Facebook<br>
  </div>
</footer>
</body>
</html>
{% endblock %}