{%extends "registration/base.html"%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div id="content">
  <div class="register">
    <div class="card shadow p-3 mb-5 rounded card" style="width: 50em; margin-left: auto;margin-right: auto; background-color: transparent;">
      <div class="cardbody" style="background-color: transparent;">
        <div class="form-data form-data-prof">
          <form action="{%url 'create_profile'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="intro text-center">Create your Instagram-app profile</h2>
            {% bootstrap_form form%}
            <button class="form-btn btn-primary" type="submit">Create Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid text-center" style="color: #af01db; margin-bottom: 0% !important;">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <ul class="list-unstyled">
          <li>
            About
          </li>
          <li>
            Blog
          </li>
          <li>
            Jobs
          </li>
          <li>
            Help
          </li>
          <li>
            Api
          </li>
          <li>
            Privacy
          </li>
          <li>
            Top Accounts
          </li>
          <li>
            Hashtags
          </li>
          <li>
            Locations
          </li>
        </ul>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 ma" style="color: #020e43; margin-bottom: 0% !important; ">© 2022
    Copyright: Instagram-app from Facebook<br>
  </div>
</footer>
{% endblock %